{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<h1 class="mt-2">Login</h1>
  <form method="post" novalidate>
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">Login</button>
    <a href="/accounts/registration/" class="btn btn-info">Go to Registration</a>

  </form>
{% endblock %}


