{% extends 'base.html' %}

{% load crispy_forms_tags %}


{% block content %}
<h1 class="mt-2">Registration</h1>
<form method="post" novalidate>
    {% csrf_token %}
        <div >
            {{ form.username|as_crispy_field }}
        </div>
        <div >
            {{ form.email|as_crispy_field }}
        </div>
        <div >
            <div id="div_id_password" class="form-group">

                <label for="id_password" class="col-form-label  requiredField">
                    Password<span class="asteriskField">*</span>
                </label>
                <div class="">
                    <input type="password" name="password" maxlength="128" class="textinput textInput form-control" required
                           id="id_password">
                </div>
        </div>
    </div>
    <button type="submit" class="btn btn-success">Save user</button>
</form>
{% endblock %}

